
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("~/Views/AdminLayout/AdminLayoutHead.cshtml")   <!-- Bir önceki projede yolu verirken action 
                                                                  metodu ile ve tam yol olmadan vermiştik
                                                                  bunda değişiklik yapmadığımız için partial ve tam yolla verdik.-->

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @Html.Partial("~/Views/AdminLayout/AdminLayoutSidebar.cshtml")
        <!-- Sidebar End -->
        <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        @Html.Partial("~/Views/AdminLayout/AdminLayoutNavbar.cshtml")
        <!-- Navbar End -->
        <!-- Blank Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded justify-content-center mx-0">
                <div class="col-md-12 ">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Blank End -->
        <!-- Footer Start -->
        @Html.Partial("~/Views/AdminLayout/AdminLayoutFooter.cshtml")
        <!-- Footer End -->
    </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/chart/chart.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Templates/darkpan-1.0.0/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Templates/darkpan-1.0.0/js/main.js"></script>
</body>

</html>
